@charset "utf-8";

/*
    Project V3: Forms, Media, GitHub (Tutorials 8-9 & Git-It)

    Title: What's up with avocado toast?
    Name: Jason Omens
    Date: 2019-08-22

    Filename: styles.css

*/


/* HTML Style */

html {
    background-image: url(avo_background.png);
    background-repeat: repeat;
}

/* Body Styles */

/* All body texts will inherit the color #081305 that I chose from a palette at colorpalettes.net */
body {
    background-color: hsl(73, 55%, 72%);
    background-color: #cedf90;
    background-color: rgb(206, 223, 144);
    font-family: Verdana, Geneva, sans-serif;
    color: #081305;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 95%;
    padding-bottom: 200px;
}

body > header > img {
    display: block;
    width: 100%;
}

/* Text Styles */

h1 {
    color: #085005;
    font-size: 2em;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

h2#projectprogress {
    color: #087005;
    font-size: 2em;
    padding-top: 50px;
    text-align: center;
    text-shadow: black 0 0 15px;
}

h3.progress {
    font-size: 1.25em;
    padding-top: 50px;
    text-align: center;
}
div#flexboxed {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
}

div#referencesandsources {
    padding-bottom: 50px;
    text-align: center;
}

div#homeDIV {
    text-align: center;
}

div#homeDIV p {
    max-width: 60%;
    margin: auto;
}

ul#loreList {
    list-style: none;
    margin-right: 20px;
    margin-bottom: 20px;
}
ul#loreList li {
    line-height: 1.3em;
}

ul#loreList li::before {
    content: "🥑 ";
}

/* Image, Video, and Recipe Styles */

img.width420 {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
}

/* wrapper and block for iframe to make it resizable */
.wrapper {
    padding-bottom: 56.25%;
    position: relative;
    display: block;
    width: 100%;
}

.iframeBlock {
    position: absolute;
    top: 0;
    left: 0;
}

p#recipe {
    position: relative;
    top: 3px;
    left: 1px;
}

/* M8LO12 Demonstrate how to format media with CSS
   The video takes up 75% of a cell in a table and has a margin so it's not flush with the text */
video {
    display: block;
    margin: 25px auto;
    width: 75%;
}


/* Footer Styles */

footer {
    bottom: 10px;
    width: 95%;
    padding-top: 10px;
    position: fixed;
    text-align: center;
    border-radius: 20px;
    /* Makes a gradient from brown to green in the footer of all pages
       built on https://uigradients.com/#Forest */
    background: #5A3F37;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    

footer p {
    color: #84a02b;
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 20px;
}

a[href="index.html#top"] {
    text-decoration: none;
}

/* Article Style */

article {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

/* Mobile devices up to 480px */

@media only screen and (max-width: 480px) {

    a#navicon {
        display: block;
    }

    nav.horizontalnav ul {
        display: none;
    }
    
    a#navicon:hover+ul, nav.horizontalnav ul:hover {
        display: block;
    }
       
    td {
        display: block;
    }
        
    td.imgCell {
        background: #085005;
    }
    
    table.recipetable thead, table.recipetable tfoot {
        display: none;
    }

    /* Pics and Recipes Table */
    col#firstCol {
        background: none;
        width: 100%;
    }
    
    /* Lore Table */
    col#loreCol1, col#loreCol2 {
        width: 100%;
    }
        
}

/* PC devices, for screens >480px */

@media only screen and (min-width: 481px) {

    nav.horizontalnav li {
        display: block;
        float: left;
        width: 25%;
    }

    nav.horizontalnav a {
        background-color: #b7c656;
        display: block;
        font-size: 1em;
        line-height: 2.5em;
        text-align: center;
        -webkit-transition: font-size 0.75 ease, background-color 0.75s ease, border-radius 0.75 ease;
        -moz-transition: font-size 0.75 ease, background-color 0.75s ease, border-radius 0.75 ease;
        /* M8LO10 Demonstrate a CSS animation or transition
           The menu items transition to a larger font size, rounded corners, and the background goes from green to brown when hovered over */
        transition: font-size 0.75s ease,
                    background-color 0.75s ease,
                    border-radius 0.75s ease;
    }
    
    nav.horizontalnav a:hover, nav.horizontalnav a:active {
        font-size: 1.25em;
        background-color: #b7a656;
        border-radius: 0px 0px 15px 15px;
    }

    nav::after {
        clear: both;
        content: "";
        display: table;
    }
    
    /* Pics and Recipes Table */
    col#firstCol {
        background: #085005;
    }
    
    table.recipetable thead, table.recipetable tfoot {
        background: black;
        color: white;
    }

}

/* Table styles*/

table.recipetable {
    background: white;
    border: 3px outset grey;
    font-size: 1.1em;
    width: 80%;
    margin: 0 auto;
}

table.recipetable th {
    padding: 15px;
}

table.recipetable th, table.recipetable td {
    border: 1px solid grey;
}

table.loreTable {
    width: 90%;
    margin: 0 auto;
}

table.loreTable thead, table.recipetable tfoot {
    display: none;
}

/* Form Styles */

/* M7LO11 Demonstrate how to format a form with CSS
   The form is formatted using blocks, floats left and puts in a margin */
label, input, textarea, select {
    display: block;
    float: left;
    clear: both;
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
}

textarea {
    height: 120px;
}

